@use '@/styles/global/typography' as font;
@use '@/styles/global/colors' as color;

.weather-card {
	@include font.fontsize(16);
	// Time left add border-radius mixin
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	height: 200px;
	border-radius: 2px;
	background: transparent;
	transition: background .35s ease;
	padding: 35px 0;

	&.active {
		background: color.$background-light-blue;

		span {
			color: color.$text-blue;
		}
	}

	&:hover:not(.active) {
		background: lighten(color.$background-light-blue, 3%);
		cursor: pointer;

		span {
			color: lighten(color.$text-blue, 10%);
		}
	}

	.weather-icon {
		height: 32px;
	}

	span {
		// Time left add transition mixin
		transition: color .35s ease;
		margin-bottom: 20px;
		color: color.$text-gray;

		&.temp {
			font-weight: 600;
		}
	}
}

.card-container {
	width: 100%;
}
