@use '@/styles/global/colors' as color;

.chart .labels.x-labels {
    text-anchor: top;
}

.chart .labels.y-labels {
    text-anchor: end;
}

.labels {
    font-size: 13px;
}

.chart {
    background: white;
    width: 100%;
    height: auto;
}

.chart .line {
    fill: none;
    stroke-width: 2;

    &.max-line{
        stroke: color.$primary;
    }

    &.min-line {
        stroke: color.$secondary;
    }
}

.grid {
    > line {
        stroke: color.$text-gray;
        stroke-dasharray: 0;
        stroke-width: 1;
    }
}

.base-grid {
    > line {
        stroke: color.$text-gray;
    }
}

.inner-grid {
    > line {
        stroke-dasharray: 2;
    }
}
