@use '@/styles/global/typography' as font;

input[type=text] {
	@include font.fontsize(16);
	font-weight: 600;
	padding: 0px 20px;
	height: 40px;
	border-radius: 20px;
	border: solid 1px lightgray;
	color: gray;
	flex: 1;
}
