@use 'setup/normalize';
@use 'grid/main';
@use 'global/typography' as font;
@use 'global/colors' as color;

html {
	font-size: 62.5%;
}

body {
	@include font.fontfamily;
	@include font.fontsize(16);
}

form {
	display: flex;
}

.card-container {
	width: 100%;
}

.weather-display {
	flex-flow: column;
}

.weather-display-title {
	> .icon {
		align-items: center;
	    margin-right: 10px;
	    color: color.$text-blue;
	}

	> .title {
		flex-direction: column;
		flex: 1;

		> span {
			color: color.$text-gray;
			text-transform: capitalize;
		}
	}

	h1 {
		@include font.fontsize(24);
		letter-spacing: 0.1rem;
		margin: 0;
		margin-bottom: .5rem;
	}
}

.weather-display-temp {
	height: 200px;
	align-items: center;
	justify-content: center;

	> span {
		@include font.fontsize(44);
		margin-right: 25px;
	}
}
