<template>
	<div class="row weather-display" v-if="weatherData">
		<div class="d-flex weather-display-title">
			<div class="icon d-flex">
				<i class="fa-fw fa-lg fas fa-map-marker-alt"></i>
			</div>
			<div class="title d-flex">
				<h1>{{ weatherData.city.name }}</h1>
				<span v-html="date"></span>
			</div>			
		</div>

		<div class="d-flex weather-display-temp">
			<span :inner-html.prop="activeWeatherData.main.temp | toTemperature"></span>
			<weather-icon :icon="activeWeatherData.weather[0].icon"></weather-icon>
		</div>

		<div class="d-flex card-container">
		    <weather-card
		    	v-for="(value, key) in weatherDataList"
		    	:key="key"
		    	:data="value"
	    	></weather-card>
		</div>
	</div>
</template>

<script>
	import WeatherCard from '@/components/WeatherCard';
	import WeatherIcon from '@/components/WeatherIcon';

	export default {
		props: {
			weatherData: {
				type: Object,
				required: true
			},
			cards: {
				type: Number,
				default: 6
			}
		},
		components: {
			'weather-card': WeatherCard,
			'weather-icon': WeatherIcon
		},
		computed: {
			date() {
				let dt = this.activeWeatherData.dt;

				return this.$moment.unix(dt).utc().format("dddd, hh:mm A")
			},
            activeWeatherData() {
            	const activeCard = this.$store.getters['weather/activeWeatherCard'];

            	return this.weatherData.list[activeCard]
            },
            weatherDataList() {
            	const weatherForecast = this.weatherData.list;
                const cardsToShow = this.cards;

                return weatherForecast.slice(0, cardsToShow);
            }
		}
	}
</script>
