<template>
	<img class="weather-icon" :src="imgSrc">
</template>

<script>
	export default {
		name: 'Weather-icon',
		props: {
			icon: {
				type: String,
				required: true
			}
		},
		computed: {
			imgSrc() {
				return `https://openweathermap.org/img/w/${ this.icon }.png`
			}
		}
	}
</script>
