<template>
	<!--
		Hardcoded the values to get up and running with building a graph using svg.
		Would have done this completely different if I had more time.
		Made it scaleable by using seperate components for rendering the grid, lines, paths and labels.
		Used Classes for the different calculations.
	-->
	<svg width="100" height="100" :viewBox="viewBox" class="chart" v-if="weatherDataList">
		<!-- X, Y outer -->
		<g class="grid base-grid">
			<line x1="50" y1="50" x2="50" y2="450"></line>
			<line x1="50" y1="450" x2="450" y2="450"></line>
		</g>

		<!-- X inner -->
		<g class="grid inner-grid">
			<line
				v-for="n in xLines"
				:key="n"
				:x1="50 + (graphWidth/xLines) * n"
				:x2="50 + (400/xLines) * n"
				y1="50"
				y2="450"
			></line>
		</g>

		<!-- Y inner -->
		<g class="grid inner-grid">
			<line
				v-for="n in yLines"
				:key="n"
				:y1="50 + (400/yLines) * (n - 1)"
				:y2="50 + (400/yLines) * (n - 1)"
				x1="50"
				x2="450"
			></line>
		</g>

		<!-- X labels -->
		<g class="labels x-labels">
			<text
				v-for="(value, key) in weatherDataList"
				:key="key"
				:x="50 + (450 / weatherDataList.length) * (key)"
				y="480"
			>
				{{ value.dt | toTime('HH:mm') }}
			</text>
		</g>

		<!-- Max temp. line -->
		<g class="line max-line">
			<polyline :points="weatherTempLine.max"/>
		</g>

		<!-- Min temp. line -->
		<g class="line min-line">
			<polyline :points="weatherTempLine.min"/>
		</g>

		<!-- Y labels left -->
		<g class="labels y-labels">
			<!-- Use a component or mixin and loop with data -->
			<text x="30" y="50" :inner-html.prop="25 | toTemperature(false)"></text>
			<text x="30" y="130" :inner-html.prop="20 | toTemperature(false)"></text>
			<text x="30" y="210" :inner-html.prop="15 | toTemperature(false)"></text>
			<text x="30" y="290" :inner-html.prop="10 | toTemperature(false)"></text>
			<text x="30" y="370" :inner-html.prop="5 | toTemperature(false)"></text>
			<text x="30" y="450" :inner-html.prop="0 | toTemperature(false)"></text>
		</g>
	</svg>
</template>

<script>
	// import Graph from '@/models/graph.model.js';

	export default {
		data() {
			return {
				labelWidth: 50
			}
		},
		props: {
			weatherData: {
				type: Object,
				required: true
			},
			amount: {
				type: Number,
				default: 9
			},
			totalWidth: {
				type: Number,
				default: 500
			},
			totalHeight: {
				type: Number,
				default: 500
			}
		},
		methods: {
			generateLinePath(data) {
				let yPositionPerDegree = this.graphHeight / 25;
				let line = '';

				data.forEach((temp, key) => {
					let yPos = (this.totalHeight - this.labelWidth) - (yPositionPerDegree * temp)
					let xPos = this.labelWidth + ((this.totalWidth - this.labelWidth) / data.length) * key
					let finalPos = `${ Math.round(xPos) },${ Math.round(yPos) } `

					line += finalPos;
				})

				return line;
			}
		},
		computed: {
			xLines() {
				return (this.amount - 1);
			},
			yLines() {
				return 5
			},
			weatherTempLine() {
				const data = this.weatherDataList;
				let maxTempArray = data.map(weather => weather.main.temp_max);
				let minTempArray = data.map(weather => (weather.main.temp_min - 2));

				const line = {
					max: this.generateLinePath(maxTempArray),
					min: this.generateLinePath(minTempArray)
				}

				return line;
			},
			viewBox() {
				return `0 0 ${this.totalWidth} ${this.totalHeight}`
			},
			labelSpace() {
				return this.labelWidth * 2
			},
			graphHeight() {
				return this.totalHeight - this.labelSpace
			},
			graphWidth() {
				return this.totalWidth - this.labelSpace
			},
			weatherDataList() {
				const weatherForecast = this.weatherData.list;
			    const dataToShow = this.amount;

			    return weatherForecast.slice(0, dataToShow);
			}
		}
	}
</script>

<style lang="scss" scoped>
	@use '@/styles/components/chart.scss';
</style>
