<template>
	<div class="weather-card" :class="{ active: isActive }" @click="setActiveWeatherCard">
		<span v-html="time" class="time"></span>
		<span :inner-html.prop="data.main.temp | toTemperature(false)" class="temp"></span>
		<weather-icon :icon="data.weather[0].icon"></weather-icon>
	</div>
</template>

<script>
	import WeatherIcon from './WeatherIcon'
	import OpenWeatherIconMixin from '@/mixins/open-weather-icon.mixin.js'

	export default {
		name: 'Weather-card',
		components: {
			'weather-icon': WeatherIcon
		},
		props: {
			data: {
				type: Object,
				required: true
			}
		},
		methods: {
			setActiveWeatherCard() {
				if (!this.isActive) {
					this.$store.commit('weather/setActiveCard', this.$vnode.key);
				}
			}
		},
		computed: {
			time() {
				let dt = this.data.dt;

				return this.$moment.unix(dt).utc().format("HH:mm")
			},
			isActive() {
				return this.$vnode.key === this.$store.getters['weather/activeWeatherCard'];
			}
		}
	}
</script>

<style lang="scss" scoped>
    @use "@/styles/components/card.scss";
</style>
