<template>
    <div id="app">
        <div class="container">
            <div class="row" style="padding: 50px 0;">
                <div class="col-xs-12 col-md-6">
                    <form @submit.prevent="handleWeatherSearch">
                        <input type="text" v-model="city">
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6 row">
                    <weather-display
                        v-if="weatherData !== null"
                        :weather-data="weatherData"
                        :cards="6"
                    ></weather-display>
                </div>
                <div class="col-xs-12 col-md-6">
                    <weather-chart
                        v-if="weatherData !== null"
                        :weather-data="weatherData"
                        :amount="9"
                        :totalWidth="500"
                        :totalHeight="500"
                    ></weather-chart>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import WeatherDisplay from '@/components/WeatherDisplay';
    import WeatherChart from '@/components/WeatherChart';

    export default {
        name: 'App',
        components: {
            'weather-display': WeatherDisplay,
            'weather-chart': WeatherChart
        },
        created() {
            this.handleWeatherSearch()
        },
        methods: {
            handleWeatherSearch() {
                this.$store.dispatch('weather/getWeatherByCity', this.city)
                    .then((response) => {
                    })
                    .catch(error => {
                    })
            }
        },
        computed: {
            city: {
                get() {
                    return this.$store.getters['weather/city'];
                },
                set(value) {
                    this.$store.commit('weather/updateCity', value)
                }
            },
            weatherData() {
                return this.$store.getters['weather/weatherData']
            }
        }
    }
</script>

<style lang="scss">
    @use "./styles/components/input.scss";
</style>
